{{# if products }}
	<div class="row">
	    <div class="col-sm-12 col-md-10 col-md-offset-1">
	        <table class="table table-hover">
	            <thead>
	                <tr>
	                    <th>Product</th>
	                    <th>Quantity</th>
	                    <th class="text-center">Price</th>
	                    <th class="text-center">Total</th>
	                    <th> </th>
	                </tr>
	            </thead>
	            <tbody>
	            	{{# each products}}
	                <tr>
	                    <td class="col-md-6">
	                    <div class="media">
	                        <a class="thumbnail pull-left" href="#"> <img class="media-object img-responsive" src="/images/product/{{ this.item.imagePath }}" style="max-height: 100px"> </a>
	                        <div class="media-body" style="padding-left: 10px">
	                            <h4 class="media-heading"><a href="#">{{this.item.title}}</a></h4>
	                            <!-- <h5 class="media-heading"> by <a href="#">Brand name</a></h5> -->
	                            <!-- <span>Status: </span><span class="text-warning"><strong>Leaves warehouse in 2 - 3 weeks</strong></span> -->
	                        </div>
	                    </div></td>
	                    <td class="col-md-1" style="text-align: center">
	                    <input type="number" class="form-control" id="qty" name="qty" value="{{this.qty}}" min="0" max="1000">
	                    </td>
	                    <td class="col-md-1 text-center"><strong>${{this.item.price}}</strong></td>
	                    <td class="col-md-1 text-center"><strong>${{this.price}}</strong></td>
	                    <td class="col-md-1">
	                    <button type="button" class="btn btn-success" id="update" name="remove">
	                        <i class="fa fa-refresh" aria-hidden="true"></i>
	                    </button>
	                    <button type="button" class="btn btn-danger" id="remove" name="remove">
	                        <i class="fa fa-times" aria-hidden="true"></i>
	                    </button></td>
	                </tr>
	                {{/each}}
	                <tr>
	                    <td>   </td>
	                    <td>   </td>
	                    <td>   </td>
	                    <td class="text-right"><h3>Total</h3></td>
	                    <td class="text-right"><h3><strong>${{this.totalPrice}}</strong></h3></td>
	                </tr>
	                <tr>
	                    <td>   </td>
	                    <td>   </td>
	                    <td>   </td>
	                    <td>
	                    <a class="btn btn-default" href="/">
	                        <i class="fa fa-cart-plus" aria-hidden="true"></i></span> Continue Shopping
	                    </a></td>
	                    <td>
	                    <a type="button" class="btn btn-info" href="/checkout">
	                        Checkout <i class="fa fa-money" aria-hidden="true"></i></span>
	                    </a></td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	</div>
{{else}}
	<div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-4">
        <h2>No Items In Cart</h2>
        <a type="button" class="btn btn-default" href="/">
	        <i class="fa fa-cart-plus" aria-hidden="true"></i></span> Continue Shopping
	    </a>
    </div>
</div>
{{/if}}